absl-py==0.9.0
aiofiles==0.4.0
aiohttp==3.6.2
alembic==1.0.11
APScheduler==3.6.3
astor==0.8.0
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
Automat==0.7.0
bert-serving-client==1.10.0
bert-serving-server==1.10.0
blis==0.4.1
boto==2.49.0
boto3==1.12.23
botocore==1.15.23
bz2file==0.98
cachetools==3.1.0
catalogue==1.0.0
certifi==2018.4.16
cffi==1.13.2
chardet==3.0.4
cleannlp==1.0.1
Click==7.0
cloudpickle==1.2.2
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.15.1
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.2
Cython==0.29.15
cytoolz==0.9.0.1
decorator==4.4.1
dill==0.2.8.2
django-cors-headers==2.4.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
dopamine-rl==2.0.5
dukpy==0.2.2
eu-model==0.0.0
Faker==4.0.2
falcon==1.4.1
fbmessenger==6.0.0
flake8==3.5.0
Flask==1.0.2
Flask-Cors==3.0.7
ftfy==5.5.1
future==0.17.1
gast==0.2.2
gensim==3.8.0
gevent==1.4.0
gin-config==0.2.1
gitdb2==2.0.6
GitPython==3.0.5
google-api-python-client==1.7.8
google-auth==1.7.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googleapis-common-protos==1.6.0
GPUtil==1.4.0
greenlet==0.4.15
grpcio==1.25.0
gunicorn==20.0.0
gym==0.15.4
h11==0.8.1
h2==3.1.1
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.3.17
httpcore==0.3.0
httplib2==0.12.0
httptools==0.0.13
httpx==0.9.3
hug==2.4.8
humanfriendly==4.18
hyperframe==5.2.0
hyperlink==18.0.0
idna==2.7
importlib-metadata==0.23
incremental==17.5.0
isodate==0.6.0
itsdangerous==1.1.0
javascripthon==0.10
Jinja2==2.10
jmespath==0.9.3
joblib==0.14.1
jsonpickle==1.3
jsonschema==3.2.0
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.2.0
kiwisolver==1.0.1
klein==17.10.0
macropy3==1.1.0b2
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mattermostwrapper==2.2
mccabe==0.6.1
mesh-tensorflow==0.1.4
mock==2.0.0
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
multidict==4.6.1
murmurhash==1.0.2
networkx==2.4
nose==1.3.7
numpy==1.17.0
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.1.1.26
opt-einsum==3.1.0
packaging==19.0
pandas==0.23.4
pbr==5.4.4
peewee==2.10.2
pika==1.1.0
Pillow==6.1.0
plac==0.9.6
pluggy==0.13.1
preshed==3.0.2
prodigy==1.8.1
promise==2.2.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psycopg2-binary==2.8.4
py==1.8.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.3.1
pycparser==2.19
pydot==1.4.1
pyflakes==1.6.0
pyglet==1.3.2
PyHamcrest==1.9.0
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.8.0
pyparsing==2.3.1
pypng==0.0.20
pyrsistent==0.15.6
pyserial==3.4
PySocks==1.7.1
pytest==5.3.5
pytest-timeout==1.3.4
python-crfsuite==0.9.6
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.11.2
python-mimeparse==1.6.0
python-socketio==4.4.0
python-telegram-bot==11.1.0
pytz==2019.3
PyYAML==5.1.2
pyzmq==19.0.0
questionary==1.5.1
rasa==1.8.1
rasa-sdk==1.8.1
rasa-x==0.26.1
redis==3.4.1
regex==2017.4.5
requests==2.23.0
requests-async==0.5.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rocketchat-API==0.6.35
rsa==4.0
ruamel.yaml==0.15.89
s3transfer==0.3.3
sanic==19.12.2
Sanic-Cors==0.10.0.post3
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.9.2
scikit-learn==0.22.2.post1
scipy==1.4.1
setuptools-scm==3.3.3
simplejson==3.16.0
six==1.11.0
sklearn-crfsuite==0.3.6
slackclient==2.5.0
smart-open==1.8.4
smmap2==2.0.5
sniffio==1.1.0
spacy==2.2.4
SQLAlchemy==1.3.11
srsly==1.0.2
stanfordnlp==0.2.0
style==1.1.0
sympy==1.4
tabulate==0.8.6
TBB==0.1
tensor2tensor==1.14.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-addons==0.8.3
tensorflow-datasets==1.3.0
tensorflow-estimator==2.1.0
tensorflow-gan==2.0.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.15.1
tensorflow-probability==0.7.0
tensorflow-text==2.0.1
termcolor==1.1.0
terminaltables==3.1.0
text-unidecode==1.3
thinc==7.4.0
toolz==0.9.0
torch==1.1.0.post2
torchvision==0.3.0
tqdm==4.43.0
twilio==6.26.3
Twisted==18.9.0
typeguard==2.7.1
typing==3.6.6
tzlocal==2.0.0
ujson==1.35
update==0.0.1
ur-model==0.0.0
uritemplate==3.0.0
urllib3==1.23
uvloop==0.14.0
virtualenv==16.7.5
waitress==1.2.1
wasabi==0.6.0
wcwidth==0.1.7
webexteamssdk==1.1.1
websocket-client==0.54.0
websockets==8.1
Werkzeug==0.14.1
wrapt==1.11.2
yarl==1.3.0
zipp==0.6.0
zope.interface==4.6.0
